body, div {
	overflow:hidden;
	background-color:#1f263b;
}
.lightgreen {
	background-color:#AFA;
}
.lightblue {
	background-color:#AAF;
}
.lightred {
	background-color:#FAA;
}
.lightgrey {
	background-color:#AAA;
	font-style: italic;
}
.button-bar{}
.button-bar div{
	width :20vh;
	height :20vh;
	font-size:15vh;
	line-height:19vh;
	text-align:center;
	border: 1px solid black;
	border-radius:1vh;
}
.button-bar:nth-child(even) div:nth-child(even) {background-color: #CCC}
.button-bar:nth-child(even) div:nth-child(odd) {background-color: #FFF}

.button-bar:nth-child(odd) div:nth-child(even) {background-color: #FFF}
.button-bar:nth-child(odd) div:nth-child(odd) {background-color: #CCC}

div {
	font-size : 5vw;
}

#main-area {
	position: absolute;
	left: 0px;
	top: 0px;
	width :100vh;
	height :100vh;
}
#main-area div{
	width:100%;
	height:100%;
}
#buttons {
	position: absolute;
	left: 100vh;
	top: 0px;
}
#buttons-sub {
	position: absolute;
	left: 120vh;
	top: 0px;
}
#buttons-3 {
	position: absolute;
	left: 140vh;
	top: 0px;
}
#ball{
	width:5vh !important;
	height:5vh !important;
	border-radius:5vh;
	background-color:#F00;
}
#perso {
	position: absolute;
	width:72px !important;
	height:100px !important;
	background-image :  url("../img/spritesheet.png");
	background-color : transparent ;
	background-repeat: no-repeat;
}

#perso.left{
    background-position: -216px top;
}
#perso.right{
    background-position: -72px top;
}
#perso.up{
    background-position: -144px top;
}
#perso.down{
    background-position: 0px top;
}

.small{
	font-size:11px;;
}
.only-on-mobile{
	display: none;
}
	
.svg-inline--fa.fa-fw {
    width: 1em;
}

/* mobile phone */
@media screen and (max-width: 1001px) {
    .only-on-mobile{
		display: inline !important;
	}
	.lightblue {
		background-color:#AFA !important;
	}
}
@media screen and (max-width: 1001px) and (orientation:portrait) {

	#main-area {
		width :100vw;
		height :100vw;
	}
	.button-bar div{
		width :19vw;
		height :19vw;
		font-size:15vw;
		line-height:19vw;
		border-radius:1vw;
		float:left;
	}
	#buttons {
		left: 0px;
		top: 100vw;
	}
	#buttons-sub {
		left: 0px;
		top: 120vw;
	}
	#buttons-3 {
		left: 0px;
		top: 140vw;
	}
}