body{
	background-color : #0088cc;
}
*{
	font-family: Lucida Console,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}
.ok{
	color:green;
}
.ko{
	color:red;
}
.warn{
	color:orange;
}
.support-table{
  width:100%;
  margin: 30px 10px;
  border: 1px solid rgba(0, 0, 0, .3);
}
.support-table td{
  text-align:center;
  font-weight:bold;
}

az-slide {
	color: black;
	background-color : #DDD;
	
}

az-slide > az-format-code{
	margin-top : -25px;
    display: block;
	font-family: Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	font-weight:bold;
	font-size: 16px;
    line-height: 20px;
}

az-format-code {
    margin:4px;
}
az-format-code.smallText {
    font-size: 14px;
    line-height: 18px;
}
az-format-code > div.code-title {
    background-color: #777;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    display: inline-block;
    left: 50px;
    padding: 1px 15px;
    position: relative;
    top: 25px;
}


#nodelogo {
	background-color: #777;
	border: 1px solid black;
    border-radius: 3px;
	padding: 5px;
    display: inline-block;
	vertical-align: sub;
    margin: .5em auto 0 auto;
    border: none;
    max-height: 1.2em;
    max-width: 180px;
}